/* Pilihan Kolom */
#pilihan-kolom {
    background: #f4f4f4;
    border: 1px solid #ddd;
    padding: 15px;
}
/* Tabel Yatim */
.foto-yatim img {
    width: 100%;
    height: auto;
}
.foto-yatim {
    width: 70px;
    height: 70px;
}
.btn-pilihan-kolom {
    margin-bottom: 22px;
}
/* Pendaftaran Yatim */
#pendaftaran-yatim {
    margin-top: 15px;
    margin-bottom: 15px;
}
#anggota_keluarga {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
}
.anggota_keluarga_content {
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
.notif{
    position: fixed;
    top:50px;
    right:0px;
    margin: 20px;
    width:200px;
    height:auto;
    display: none;
}
.notif-success{
    background: green;
}
/* yatim detail */
.yatim-detail {
    background: #fff;
    border: 1px solid #f4f4f4;
    padding: 35px 15px;
    margin: 15px;
}
.personal-picture img {
    width: 100%;
    height: auto;
}
.section-poin h2 {
    font-size: 22px;
    border-bottom: 1px dotted #999;
    padding-bottom: 5px;
}
.yatim-detail table td:first-child {
    width: 25%;
}

/* floating refresh button  */
.float-label-container{
	position:fixed;
	bottom:48px;
	right:105px;
	display:table;
	visibility: hidden;
}

.float-label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.float-label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float-button{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#06C;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    z-index: 2;
}

.my-float-button{
	font-size:24px;
	margin-top:18px;
}

a.float-button + div.float-label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float-button:hover + div.float-label-container{
  visibility: visible;
  opacity: 1;
}

.middle-row td {
    vertical-align: middle !important;
}

/* loading animation */
.load {
    width: 70px;
    display: none;
    padding-top: 115px;
    margin-left: auto;
    margin-right: auto;
}

/* custom callout */
.callout.callout-info {
    padding: 8px 0 1px 10px;
}
.callout h4 { font-size: 16px; }

.user-overflow {
    white-space: nowrap;
    width: 11em;
    overflow: hidden;
    text-overflow: ellipsis;
}