/*
 * Specific styles of signin component
 */
/*
 * General styles
 */

body,
html {
  height: 100%;
  background: url("../img/pattern.png") repeat;
}

.card-container.card {
  width: 350px;
  padding: 20px 35px;
}

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}
/*
* Card component
*/

.card {
  background-color: #fff;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
}
/*
* Form styles
*/

.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  border-color: #0685FF;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #0066CC;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #0066CC;
}

.btn-signin {
  /*background-color: #4d90fe; */
  background-color: #0066CC;
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.btn-signin:hover,
.btn-signin:active,
.btn-signin:focus {
  background-color: #0685FF;
}

.forgot-password {
  color: #0685FF;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
  color: #004e99;
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */

.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */

.carousel-caption {
  z-index: 1;
  text-shadow: 1px 2px 1px #000;
}
/* Declare heights because of positioning of img element */

.carousel .item {
  height: 400px;
  background-color: #555;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}
/* MARKETING CONTENT
-------------------------------------------------- */
/* Pad the edges of the mobile views a bit */

.marketing {
  padding-left: 15px;
  padding-right: 15px;
}
/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}

.marketing h2 {
  font-weight: normal;
}

.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}
/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr> more */
}

.featurette {
  padding-top: 120px;
  /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden;
  /* Vertically center images part 2: clear their floats. */
}

.featurette-image {
  margin-top: -120px;
  /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}
/* Give some space on the sides of the floated elements so text doesn't run right into it. */

.featurette-image.pull-left {
  margin-right: 40px;
}

.featurette-image.pull-right {
  margin-left: 40px;
}
/* Thin out the marketing headings */

.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px;
    /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1em;
  }
  .content {
    padding: 30px;
    background: #F2F1EF;
  }
  .margin-bottom-30 {
    margin-bottom: 30px;
  }
  /* Portlet */
  .portlet {
    background: #fff;
    padding: 20px;
  }
  .portlet.portlet-gray {
    background: #f7f7f7;
  }
  .portlet.portlet-bordered {
    border: 1px solid #eee;
  }
  /* Portlet Title */
  .portlet-title {
    padding: 0;
    min-height: 40px;
    border-bottom: 1px solid #eee;
    margin-bottom: 18px;
  }
  .caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
  }
  .caption.caption-green .caption-subject,
  .caption.caption-green i {
    color: #4db3a2;
    font-weight: 200;
  }
  .caption.caption-red .caption-subject,
  .caption.caption-red i {
    color: #e26a6a;
    font-weight: 200;
  }
  .caption.caption-purple .caption-subject,
  .caption.caption-purple i {
    color: #8775a7;
    font-weight: 400;
  }
  .caption i {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px;
  }
  .caption-subject {
    color: #666;
    font-size: 16px;
    font-weight: 600;
  }
  .caption-helper {
    padding: 0;
    margin: 0;
    line-height: 13px;
    color: #9eacb4;
    font-size: 13px;
    font-weight: 400;
  }
  /* Actions */
  .actions {
    float: right;
    display: inline-block;
  }
  .actions a {
    margin-left: 3px;
  }
  .actions .btn {
    color: #666;
    padding: 3px 9px;
    font-size: 13px;
    line-height: 1.5;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 50px;
  }
  .actions .btn i {
    font-size: 12px;
  }
  .actions .btn:hover {
    background: #f2f2f2;
  }
  /* Pagination */
  .pagination {
    margin: -3px 0 0;
    border-radius: 50px;
  }
  .pagination>li>a,
  .pagination>li>span {
    padding: 4px 10px;
    font-size: 12px;
    color: #8775a7;
    background: #f7f7f7;
  }
  .pagination>li:hover>a,
  .pagination>li.active>a,
  .pagination>li.active:hover>a {
    color: #fff;
    background: #8775a7;
    border-color: #8775a7;
  }
  /* Inputs */
  .inputs {
    float: right;
    display: inline-block;
    padding: 4px 0;
    margin-top: -10px;
  }
  .input-inline {
    width: 240px;
    display: inline-block;
    vertical-align: middle;
  }
  /* Tab */
  .portlet-title>.nav-tabs {
    background: none;
    margin: 0;
    float: right;
    display: inline-block;
    border: 0;
  }
  .portlet-title>.nav-tabs>li {
    background: none;
    margin: 0;
    border: 0;
  }
  .portlet-title>.nav-tabs>li>a {
    background: none;
    border: 0;
    padding: 2px 10px 13px;
    color: #444;
  }
  .portlet-title>.nav-tabs>li.active,
  .portlet-title>.nav-tabs>li.active:hover {
    border-bottom: 4px solid #f3565d;
    position: relative;
  }
  .portlet-title>.nav-tabs>li:hover {
    border-bottom: 4px solid #f29b9f;
  }
  .portlet-title>.nav-tabs>li.active>a,
  .portlet-title>.nav-tabs>li:hover>a {
    color: #333;
    background: #fff;
    border: 0;
  }
  /* Btn Circle */
  .actions .btn.btn-circle {
    width: 28px;
    height: 28px;
    padding: 3px 7px;
    text-align: center;
  }
  .actions .btn.btn-circle i {
    font-size: 11px;
  }
  /* Btn Grey Salsa */
  .actions .btn.grey-salsa {
    border: none;
    margin-left: 3px;
    box-shadow: none;
    border-radius: 50px !important;
  }
  .actions .btn.grey-salsa.active {
    color: #fafcfb;
    background: #8e9bae;
  }
  .actions .grey-salsa.btn:hover,
  .actions .grey-salsa.btn:focus,
  .actions .grey-salsa.btn:active,
  .actions .grey-salsa.btn.active {
    color: #fafcfb;
    background: #97a3b4;
  }
  /* Btn Red */
  .actions .btn.btn-red.active,
  .actions .btn.btn-red:hover {
    color: #fff;
    box-shadow: none;
    background: #e26a6a;
    border-color: #e26a6a;
  }
  /* Btn Red */
  .actions .btn.btn-purple.active,
  .actions .btn.btn-purple:hover {
    color: #fff;
    box-shadow: none;
    background: #8775a7;
    border-color: #8775a7;
  }
  .tab-selected {
    background-color: #333;
    padding: 0.2em 1em;
    line-height: 2.5em;
    color: white;
    font-weight: bold;
  }
  .top {
    width: 100%;
    height: 3px;
    background-color: #333;
  }
  .cells {
    width: 89%;
    color: #333;
    margin-bottom: auto;
    margin-top: auto;
  }
  footer {
    margin: 2em;
    color: white;
  }
  footer p:first-child {
    font-size: 14px;
    margin: 0;
  }
  footer p:nth-child(2) {
    font-size: 12px;
    margin: 0;
  }
  footer p:last-child {
    font-size: 11px;
    margin: 0;
  }
}