<section class="content-header">
  <h1>
    Dashboard
    <small>it all starts here</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Dashboard</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron text-center">
        <h1>Kasir Kantin</h1> 
        <p>Selamat datang di aplikasi web <b>Kasir Kantin</b> .</p> 
      </div>
    </div>
  </div>
</section>
    
