<table class="table table-striped data-table-1" style="width:100%">
    <thead>
        <tr>
            <th width="5%">No</th>
            <th>Item</th>
            <th width="10%">Qty</th>
        </tr>
    </thead>
    <tbody>
        
        <?php 
        $no = 1;
        $total = 0;
        for ($i=0; $i < count($dt_record); $i++) { ?>
            <tr>
                <td><?= $no; ?></td>
                <td><?= $dt_record[$i]['nama']; ?></td>
                <td><?= $dt_record[$i]['qty']; ?> pcs</td>
            </tr>
        
        <?php 
        $no = $no + 1;
        $total = $total + $dt_record[$i]['qty'];
        } ?>

       <tr>
            <th class="text-right" colspan="2">Total</th>
            <th style="display: none;"></th>
            <th>{{ total }}</th>
       </tr>
    </tbody>
</table>

<script>
$(function () {
    
    // get value datepicker
    var tgl_transaksi = $('#set_file_name_pdf').val();
    var filename = $("#id_transaksi").text();
	$('.data-table-1').DataTable({
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'csvHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2, 3, 4 ]
                },
                title: 'transaksi_' + filename
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2, 3, 4 ]
                },
                title: 'transaksi_' + filename
            }
        ],
        "paging": false,
        "lengthChange": false,
        "searching": false,
        "ordering": false,
        "info": false,
        "autoWidth": true,
        "lengthMenu": [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, "Semua"]
        ],
        "iDisplayLength": 50,
        "language": {
            "url": "js/Indonesian.json"
        }
	});    

});

</script>