<table id="data_table" class="table  table-striped">
    <thead>
        <tr>
            <th width="5%">No</th>
            <th>Item</th>
            <th width="15%">Terjual</th>
            <th class="text-right" width="15%">Modal</th>
            <th class="text-right" width="15%">Pendapatan</th>
            <th class="text-right" width="15%">Premi</th>
            <th class="text-right" width="15%">Keuntungan</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="7" class="text-center">Result Empty</td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
            <td style="display: none;"></td>
        </tr>
    </tbody>
</table>
<!-- include js file -->
<script>{% include "keu_laporan_unit/assets/main.js" %}</script>